.appload-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appload {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .15;
    background: linear-gradient(100deg, transparent 20%, white 50%, transparent 80%);
    animation: appload-animation 1800ms infinite linear;
}

@keyframes appload-animation {
    0% {
        transform: translate(-200%);
    }

    100% {
        transform: translate(200%);
    }
}
