@inherits UIElement

<div xamzorid="@Id" class="Grid" style="@LayoutCss background-color: @Background;">
    @ChildContent
</div>

@functions{

    public IReadOnlyList<RowDefinition> RowDefinitions { get; set; }
    public IReadOnlyList<ColumnDefinition> ColumnDefinitions { get; set; }

    public string Background { get; set; } = "transparent";

    protected override void ComputeLayoutCss(System.Text.StringBuilder sb)
    {
        base.ComputeLayoutCss(sb);

        if (RowDefinitions?.Count > 0)
        {
            sb.Append(
                "grid-template-rows: " +
                string.Join(" ", RowDefinitions.Select(def => GridLengthToCss(def.Height))));
        }

        if (ColumnDefinitions?.Count > 0)
        {
            sb.Append(
                "grid-template-columns: " +
                string.Join(" ", ColumnDefinitions.Select(def => GridLengthToCss(def.Width))));
        }

        string GridLengthToCss(GridLength length)
        {
            switch (length.GridUnitType)
            {
                case GridUnitType.Auto: return "auto";
                case GridUnitType.Absolute: return length.Value + "px";
                case GridUnitType.Star: return length.Value + "fr";
                default: throw new NotImplementedException();
            }
        }
    }
}