@inherits UIElement

<div class="Image" style="display: grid;">
    <img xamzorid="@Id" style="user-select: none; -ms-user-select: none; @LayoutCss"
         src="@Source" draggable="@(IsDraggable ? "true" : "false")"
         onerror="this.style.display='none'"/>
</div>

@functions{

    public string Source { get; set; }

    public bool IsDraggable { get; set; } = false;

    public ImageStretch Stretch { get; set; } = ImageStretch.Uniform;

    public StretchDirection StretchDirection { get; set; } = StretchDirection.Both;

}