@inherits UIElement

<div xamzorid="@Id" id="@Id" class="ScrollViewer" style="@LayoutCss @StyleString">
    @ChildContent
</div>

@functions{

    public ScrollMode HorizontalScrollMode { get; set; } = ScrollMode.Disabled;

    public ScrollMode VerticalScrollMode { get; set; } = ScrollMode.Enabled;

    private string StyleString =>
        $"overflow-x: {(HorizontalScrollMode == ScrollMode.Disabled ? "hidden" : HorizontalScrollMode == ScrollMode.Enabled ? "scroll" : "auto")};" +
        $"overflow-y: {(VerticalScrollMode == ScrollMode.Disabled ? "hidden" : VerticalScrollMode == ScrollMode.Enabled ? "scroll" : "auto")};";

    protected override void ComputeOwnLayoutCss(System.Text.StringBuilder sb)
    {
        base.ComputeOwnLayoutCss(sb);
        sb.Append("display: block; "); // Scrolling doesn't work with 'display: grid', revert to 'block'
    }
}