@inherits UIElement

<div class="ScrollViewer" style="@LayoutCss @StyleString">
    <img id="@Id" onerror="xamzorInit(this);" src/>
    @ChildContent
</div>

@functions{

    public Thickness Padding { get; set; } = Thickness.Zero;

    public ScrollMode HorizontalScrollMode { get; set; } = ScrollMode.Disabled;

    public ScrollMode VerticalScrollMode { get; set; } = ScrollMode.Auto;

    protected override Point MeasureOverride(Point availableSize)
    {
        var childSize = this.Children().FirstOrDefault()?
            .Measure(availableSize - Padding.Size) ?? Point.Zero;

        return childSize + Padding.Size;
    }

    protected override Point ArrangeOverride(Point finalSize)
    {
        var arrangeSize = new Point(
            (HorizontalScrollMode == ScrollMode.Disabled) ? finalSize.X : Math.Max(finalSize.X, DesiredSize.X),
            (VerticalScrollMode == ScrollMode.Disabled) ? finalSize.Y : Math.Max(finalSize.Y, DesiredSize.Y));

        this.Children().FirstOrDefault()?.Arrange(new Rect(
            Padding.TopLeft,
            arrangeSize - Padding.Size));

        return finalSize;
    }

    private string StyleString =>
        $"overflow-x: {(HorizontalScrollMode == ScrollMode.Disabled ? "hidden" : HorizontalScrollMode == ScrollMode.Enabled ? "scroll" : "auto")};" +
        $"overflow-y: {(VerticalScrollMode == ScrollMode.Disabled ? "hidden" : VerticalScrollMode == ScrollMode.Enabled ? "scroll" : "auto")};";
}