@inherits UIElement

<div xamzorid="@Id" class="StackPanel" style="@LayoutCss background-color: @Background;">
    @ChildContent
</div>

@functions{

    public Orientation Orientation { get; set; } = Orientation.Vertical;

    public string Background { get; set; } = "transparent";

    public double Spacing { get; set; } = 0;

    protected override void ComputeOwnLayoutCss(System.Text.StringBuilder sb)
    {
        base.ComputeOwnLayoutCss(sb);
        sb.Append($"grid-auto-flow: {(Orientation == Orientation.Horizontal ? "column" : "row")}; ");

        if (Spacing != 0)
            sb.Append($"grid-gap: {Spacing}px; ");
    }
}