@using Microsoft.AspNetCore.Blazor.Browser.Interop
@inherits UIElement

<div class="XamzorView" id="@Id" style="position: absolute; width: 100%; height: 100%;">
    <img id="@Id" onerror="xamzorInitRoot(this);" src/>
    @ChildContent
    <button @onclick(Layout) style="position: absolute; left: 0px; top: 32px; opacity: 0.4;">Layout</button>
</div>

@functions{

    protected override void OnInit()
    {
        base.OnInit();
        Hierarchy.WindowResized += Layout;
    }

    public void Layout()
    {
        Hierarchy.Dump();

        using (UILog.BeginScope("LAYOUT", "LAYOUT STARTING", writeBraces: true))
        {
            try
            {
                var sizeString = RegisteredFunction.Invoke<string>("getSize", Id);
                var sizeParts = sizeString.Split(',');
                Width = double.Parse(sizeParts[0]);
                Height = double.Parse(sizeParts[1]);
            }
            catch (JavaScriptException)
            {
                return; // Not yet rendered
            }

            Measure(new Point(Width, Height));
            Arrange(new Rect(0, 0, Width, Height));
        }
    }
}