@using Microsoft.AspNetCore.Blazor.Browser.Interop
@inherits UIElement

<div xamzorid="@Id" id="@Id" class="XamzorView" style="position: absolute; width: 100%; height: 100%;">
    @ChildContent
    <button onclick="@(e => View.VisualTree.Dump())" style="position: absolute; left: 0px; top: 64px; opacity: 0.4;">Hierarchy</button>
</div>

@functions{

    public IXamzorViewOwner Owner { get; set; }

    protected override void OnInit()
    {
        base.OnInit();
        Application.RegisterView(this);
        Owner?.OnXamzorViewInitialized(this);
    }

    public override void Dispose()
    {
        base.Dispose();
        Application.UnregisterView(Id);
    }
    
    public interface IXamzorViewOwner
    {
        void OnXamzorViewInitialized(XamzorView view);
    }
}