@inherits UIElement

<button class="XButton" style="@LayoutCss" onclick="@OnClicked">
    @ChildContent
</button>

@functions{

    public Thickness Padding { get; set; } = Thickness.Zero;

    // This is a property because adding handlers to events via tag helpers doesn't seem to be supported yet
    public EventHandler<UIMouseEventArgs> Clicked { get; set; }

    protected override Point MeasureOverride(Point availableSize)
    {
        var childSize = Children.FirstOrDefault()?
            .Measure(availableSize - Padding.Size) ?? Point.Zero;

        return childSize + Padding.Size;
    }

    protected override Point ArrangeOverride(Point finalSize)
    {
        Children.FirstOrDefault()?.Arrange(new Rect(
            Padding.TopLeft,
            finalSize - Padding.Size));

        return finalSize;
    }

    private void OnClicked(UIMouseEventArgs e) => Clicked?.Invoke(this, e);
}