<div style="padding: 12px; border: 1px solid black;">
    <button @onclick(ReRender)>Refresh</button>
    @if (RenderHandle.GetChildren() == null)
    {
        <strong>Children == null</strong>
    }
    <ul>
        @foreach (var child in RenderHandle.GetChildren() ?? Enumerable.Empty<IComponent>())
        {
            <li><strong>@child.GetType().Name</strong> @child.ToString()</li>
        }
    </ul>
    @ChildContent
</div>

@functions{
    public RenderFragment ChildContent { get; set; }
    public string Tag { get; set; }

    public override string ToString() => Tag;

    private void ReRender() => base.StateHasChanged();
}