@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<XamzorView>

    <Grid RowDefinitions=@Rows("80", "*") ColumnDefinitions=@Columns("Auto", "*")>

        <Border Background="Yellow" Width="40" Height="40"/>
        <Border Background="Green" Row="1" BorderThickness="1" BorderBrush="Black"/>
        <Border Background="Blue" Column="1" BorderThickness="1" BorderBrush="Black"/>

        <StackPanel Row="1" Column="1">

            <Border Background="Red" Width="200" Height="40" />
            <Border Background="DarkRed" MaxWidth="300" Height="40" Margin="350,10" />
            <Border Background="DarkRed" MaxWidth="300" Height="40" />
            <Border Background="DarkRed" Width="200" Height="40" HorizontalAlignment="Left" />
            <Border Background="DarkRed" Width="200" Height="40" HorizontalAlignment="Center" />
            <Border Background="DarkRed" Width="200" Height="40" HorizontalAlignment="Right" />

            <Border BorderBrush="DarkGreen" BorderThickness="10" Padding="10" CornerRadius="20"
                    HorizontalAlignment="Stretch" Width="400">
                <StackPanel Orientation="Horizontal" HorizontalAlignment="Center" Spacing="10">
                    <Border Width="50" Height="50" Background="Green" />
                    <Border Width="50" Height="50" Background="Green" />
                    <Border Width="50" Height="50" Background="Green" />
                </StackPanel>
            </Border>

        </StackPanel>

    </Grid>

</XamzorView>


    <Foo Tag="A">
        <Foo Tag="A1">
            <Foo Tag="A1x"></Foo>
            <Foo Tag="A1y"></Foo>
            <Foo Tag="A1z">
                <Foo Tag="A1z#" />
            </Foo>
        </Foo>
        <Foo Tag="A2">
        </Foo>
        <Foo Tag="A3">
            <Foo Tag="A3x" />
            <Foo Tag="A3y" />
        </Foo>
    </Foo>
